<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'articles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="container ">
        <div class="row">
            <div class="col-md-4 m-3">
                <div class="card">

                    <div class="card-header">
                        <strong>Id:</strong>
                        <%= @article.id %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <%= @article.title %>
                        </h5>
                        <p class="card-text"> <%= @article.text %>
                        </p>
                        <%= link_to 'Back', articles_path, class:  "btn btn-info" %>

                    </div>
                </div>

            </div>
            <div class="col-md-4 m-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Article</h5>

                    </div>
                    <div class="card-body">


                        <%= form_with(model: @article, local: true) do |form| %>

                        <% if @article.errors.any? %>
                        <div id="error_explanation">
                            <h2>
                                <%= pluralize(@article.errors.count, "error") %> prohibited
                                this article from being saved:
                            </h2>
                            <ul>
                                <% @article.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>

                        <p>
                            <%= form.label :title %><br>
                            <%= form.text_field :title, class: 'form-control' %>
                        </p>

                        <p>
                            <%= form.label :text %><br>
                            <%= form.text_area :text, class: 'form-control' %>
                        </p>

                        <p>
                            <%= form.submit  :Update, class:  "btn btn-primary"%>
                            <%= link_to 'Back', articles_path, class: "btn btn-dark" %>

                        </p>

                        <% end %>


                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>